extends __template

block css

block js

block body
    h1.pagetitle Education
    -var blockstyle = "col-xs-12 col-sm-6 col-md-6";
    h2 School
    .row
        div(class=blockstyle)
            .card
                .card-title College - Eastern Michigan University
                .card-content
                    div
                        strong Duration:
                        |  Fall 2019 - Winter 2019

                    div
                        strong Major:
                        |  Computer Science Applied

        div(class=blockstyle)
            .card
                .card-title High School - Game Design & Programming 1
                .card-content
                    div
                        strong School:
                        |  Wayne Memorial High School Vocational Tech
                    div
                        strong Year:
                        |  2017 - 2018
                    div
                        strong Languages:
                        |  JavaScript, GameMaker Language, Python, HTML, CSS

        div(class=blockstyle)
            .card
                .card-title High School - Game Design & Programming 2
                .card-content
                    div
                        strong School:
                        |  William D. Ford Vocational Tech Center
                    div
                        strong Year:
                        |  2018 - 2019
                    div
                        strong Languages:
                        |  GameMaker Language, JavaScript, Python, C, C#, HTML, CSS

    h2 Certifications
    .row
        div(class=blockstyle)
            .card
                .card-title MTA: Windows Operating System Fundamentals
                .card-content
                    div Date: 31 May 2018
                    div Issuer: Microsoft
                    div Skills: Operating System Configuration, Operating System Management
                .card-footer
                    a.btn.btn-full(href="https://www.youracclaim.com/badges/43655f28-728b-40ee-9118-199f28a4c218/public_url" target="_blank" rel="noopener noreferrer") More Info
        div(class=blockstyle)
            .card
                .card-title MTA: Introduction to Programming Using HTML and CSS
                .card-content
                    div Date: 16 May 2018
                    div Issuer: Microsoft
                    div Skills: CSS, HTML, HTML5
                .card-footer
                    a.btn.btn-full(href="https://www.youracclaim.com/badges/14ffcd47-7580-4551-ad3d-a1562a1ad834/public_url" target="_blank" rel="noopener noreferrer") More Info
        div(class=blockstyle)
            .card
                .card-title MTA: Introduction to Programming Using JavaScript
                .card-content
                    div Date: 16 May 2018
                    div Issuer: Microsoft
                    div Skills: JavaScript
                .card-footer
                    a.btn.btn-full(href="https://www.youracclaim.com/badges/ff281f65-9362-4bd4-a8df-df8c81e17ac9/public_url" target="_blank" rel="noopener noreferrer") More Info
        div(class=blockstyle)
            .card
                .card-title MTA: Introduction to Programming Using Python
                .card-content
                    div Date: 17 May 2018
                    div Issuer: Microsoft
                    div Skills: Python, Python Programming
                .card-footer
                    a.btn.btn-full(href="https://www.youracclaim.com/badges/25585530-f812-42f6-bd30-279b598bac34/public_url" target="_blank" rel="noopener noreferrer") More Info
        div(class=blockstyle)
            .card
                .card-title MTA: Introduction to Programming using Block-Based Languages
                .card-content
                    div Date: 17 May 2018
                    div Issuer: Microsoft
                    div
                        | Skills: Block Based Programming, Design Algorithms, Modeling and Simulation, Software Development Process,
                        | Touch Develop
                .card-footer
                    a.btn.btn-full(href="https://www.youracclaim.com/badges/00b48444-1a81-4b41-820d-f59935c0115e/public_url" target="_blank" rel="noopener noreferrer") More Info
        div(class=blockstyle)
            .card
                .card-title MTA: Software Development Fundamentals
                .card-content
                    div Date: 01 Nov 2018
                    div Issuer: Microsoft
                    div
                        | Skills: Core Programming, Databases, Desktop Applications, General Software Development, Object-oriented Programming, Web Applications
                .card-footer
                    a.btn.btn-full(href="https://www.youracclaim.com/badges/4b373f3e-dfe3-44a9-86b8-0b758c8597dc/public_url" target="_blank" rel="noopener noreferrer") More Info
        div(class=blockstyle)
            .card
                .card-title MTA: HTML5 Application Development Fundamentals
                .card-content
                    div Date: 01 Nov 2018
                    div Issuer: Microsoft
                    div
                        | Skills: Application Lifecycle Management, HTML5 Build User Interface, HTML5 Technology, JavaScript, User Interface CSS Formatting
                .card-footer
                    a.btn.btn-full(href="https://www.youracclaim.com/badges/a62d0427-87ab-462b-8b1c-b0b64ed0e820/public_url" target="_blank" rel="noopener noreferrer") More Info
 
    h2 Internships
    .row
        div(class=blockstyle)
            .card
                .card-title Wayne RESA
                .card-content
                    div
                        strong Duration: 
                        |  June 2019 - Current

                    div
                        strong What I learned:
                        ul
                            li C# - ASP.net
                            li Jira/Confluence
                            li Working as a LAN/AV technician and helping people with their computer problems and networking and AV problems
                            li Web development
                            li Content Management Systems (WordPress, FoxBright, FinalSite Composer)

        div(class=blockstyle)
            .card
                .card-title General Electric
                .card-content
                    div
                        strong Duration: 
                        |  2 Days
                    
                    div
                        strong What I learned:
                        ul
                            li Agile
                            li Working with a team
                            li Arduino C programming

                    div
                        strong Overview:
                        br
                        span This was a 2 day internship with general electric where we had a small competition where we made Arudino based devices to learn C and make a device to help save energy. Our team made an arduino that could sense the light outside and turn down the lights indoors as it was brigher outside.
