extends __template

block css

block js

block body
    h1 Languages
    - var blockstyle = "col-xs-12 col-sm-12 col-md-6 col-lg-4";
    h2 Programming Languages
    .row
        div(class=blockstyle)
            .card
                .card-title Python
                .card-content
                    p A scripting language I learned as it is used in so many ways and I have used it in web development, scripting tasks for automation, and it can be used for so much more.

        div(class=blockstyle)
            .card
                .card-title C++
                .card-content
                    p The first compiler language that I ever learned. I used this programming language to teach myself Assembler language and help myself learn more about computers and how they work. I have used C++ for making windows applications, and Dynamic Link Libraries.

        div(class=blockstyle)
            .card
                .card-title C#
                .card-content
                    p I learned C# during my internship at Wayne RESA. I used it in combination with ASP.net to work on making websites.

        div(class=blockstyle)
            .card
                .card-title HTML
                .card-content
                    p The first markup language that I learned, I learned this in my endeavor to begin web development.

        div(class=blockstyle)
            .card
                .card-title LESS
                .card-content
                    p I learned this as to speed up my CSS programming and it has a lot of useful features to make better CSS code faster.

        div(class=blockstyle)
            .card
                .card-title CSS
                .card-content
                    p This is the markup I learned to go with my web development.

        div(class=blockstyle)
            .card
                .card-title JavaScript
                .card-content
                    p I learned this for not only web development on the front end but also with NodeJS for backend development.

        div(class=blockstyle)
            .card
                .card-title PHP
                .card-content
                    p This was the first backend language that I ever used. I used PHP mainly for about 3 years until moving to other backend languages.

        div(class=blockstyle)
            .card
                .card-title MySQL
                .card-content
                    p MySQL was my first SQL based database engine that I used with PHP. I have also used MySQL in C# based web applications, and python and javascript based applications.

        div(class=blockstyle)
            .card
                .card-title Game Maker Language
                .card-content
                    p I used game maker language for 2 years at the William D. Ford Vocational Tech Center. It is a "JavaScript based" programming language made for use in Game Maker Studio.

        div(class=blockstyle)
            .card
                .card-title Lua
                .card-content
                    p I learned lua while making addons for video games and I learned it out of fun for me and others playing video games and getting into modifying them.

        div(class=blockstyle)
            .card
                .card-title NodeJS
                .card-content
                    p I learned NodeJS as a simple backend language and has become one of my favorites.

    h2 Libaries
    .row
        div(class=blockstyle)
            .card
                .card-title ASP.net
                .card-content
                    p I learned ASP.net in combination with C# during my internship at Wayne RESA. I learned it to work on websites and start a project that would be maintainable by their standards.

        div(class=blockstyle)
            .card
                .card-title Pug
                .card-content
                    p Pug is a JavaScript templating engine for web development that I mainly use with ExpressJS and is one of my favorite templating engines.

        div(class=blockstyle)
            .card
                .card-title Python Flask
                .card-content
                    p I learned Python Flask as my first python based website backend. It is quick and easy for small projects and is still one of my favorites.

        div(class=blockstyle)
            .card
                .card-title Jinja2
                .card-content
                    p This is the templating engine that goes with Python Flask and can be used with Django, It is a pretty good templating engine and was one of the first that I ever used.

        div(class=blockstyle)
            .card
                .card-title Django
                .card-content
                    p Django was my 2nd ever Python based website backends. I used this for a short time and favored it over Python Flask.

        div(class=blockstyle)
            .card
                .card-title jQuery
                .card-content
                    p I use jQuery in a lot of my projects. It is so widely used and is a very good tool. By far one of my favorite JavaScript libraries.
