extends __template

block css

block js

block body
    h1 Skills
    - var blockstyle="col-xs-12 col-sm-12 col-md-6 col-lg-4"
    .row
        div(class=blockstyle)
            .card
                .card-title Programming
                .card-content
                    p I have done programming since the age of 8. I wouldn't say im an expert but I would say that if there is anything that needs to be done. I have the skills to get it done, or find a way to get it done.
        div(class=blockstyle)
            .card
                .card-title Arduino
                .card-content
                    p I used Arudinos for some personal projects and for projects at the William D. Ford Vocational Tech center. I also programmed my 3D printer which uses an Arduino board for the main board.
        div(class=blockstyle)
            .card
                .card-title Debugging
                .card-content
                    p From all the time I was doing assembly level debugging, I have learned quite a bit about debugging applications. And from my Vocational Tech class I helped the class when it came to debugging and fixing errors in students applications.
      
        div(class=blockstyle)
            .card
                .card-title Circuitry
                .card-content
                    p I have done some circuitry for some home projects and at the William D. Ford Vocational Tech center for 2 years. I rewired a 3D printer on my own with a custom motherboard for one of my more major projects. With a lot of small projects in my VoTech class. I have a pretty good understanding of Electrical Engineering. I love playing with circuitry and learning more and more every day. This includes soldering and breadboarding, I have worked with both mostly breadboarding and then soldering it to a blank PCB.

        div(class=blockstyle)
            .card
                .card-title 3D Printing
                .card-content
                    p I took on this passion in my senior year high school game programming class. We had a Da Vinci Duo 2.0 and a FlashForge Creator Pro. Two pretty decent 3D printers. I had seen them online and I saw a few people use them for small projects but I never really thought about using them. But once I did I couldn't stop. It became such a fun little side project and had so many opportunities I loved doing it and finding new things to do. 3D printing really did just turn into another tool in my belt for the future projects that were to come.

        div(class=blockstyle)
            .card
                .card-title CAD 3D/2D Modeling
                .card-content
                    p I learned CAD to do more 3D modeling for 3D printing. I also did 2D modeling for a "SAG 175" at EMU.

        div(class=blockstyle)
            .card
                .card-title Agile
                .card-content
                    p I have used Agile in my Vocational Tech class, we used it when working on projects to help us get our work done and make sure when we worked together that we got everythign we needed done and in a time effective way.

        div(class=blockstyle)
            .card
                .card-title Visual Design
                .card-content
                    p I spend some of my free time playing in Photoshop and Cinema 4D, While I am no professional I have some skills that allow me to do what I am looking for in these programs. I spent more time in Photoshop just creates effects which came out quite nicely for what I wanted.

        div(class=blockstyle)
            .card
                .card-title Reverse Engineering 
                .card-content
                    p The thing I love doing most is breaking things, And hopefully putting them back together. I spend a lot of time looking into programs in IDA, ReClass, WinDBG, and Cheat Engine. Assembly is one of my favorite, but most inexperienced programming languages. If there is one thing I would love to learn more of and I started to do whenever I can, Is reverse engineering. I am not the best at it, but I have done some work that gives me quite a bit of experience working in environments such as IDA. Where I learned quite a bit about how computers work. Such as memory addresses, pointers, How hexadecimal relates to assembly and how assembly relates to the programming language.
