extends __template

block css

block js

block body
    h1 Toolset

    -var blockstyle = "col-xs-12 col-sm-12 col-md-6 col-lg-4";
    h2 Operating Systems
    .row
        div(class=blockstyle)
            .card
                .card-title Windows 7 - 10
                .card-content
                    p Windows has been my daily driver as an operating system. During my Internship at Wayne RESA I did tech support for a lot of Windows machines.

        div(class=blockstyle)
            .card
                .card-title Linux
                .card-content
                    p I use Linux on my personal machines. I find it a very good operation system for programming and is a very good tool to help stay organized and efficient.

        div(class=blockstyle)
            .card
                .card-title Mac OS
                .card-content
                    p I used MacOS for a year or so for programming. I also did tech support at Wayne RESA on Macs.

    h2 IDE's
    .row
        div(class=blockstyle)
            .card
                .card-title Visual Studio 2015-2017
                .card-content
                    p I use Visual Studio for compiler based programming like with C++ and C# programming.

        div(class=blockstyle)
            .card
                .card-title VSCode
                .card-content
                    p VSCode is one of my preferred text editor / IDE's. It is a very customizable text editor and one of the best.

        div(class=blockstyle)
            .card
                .card-title VI/VIM
                .card-content
                    p VIM is my preferred text editor on linux. I used it for the times that I am using a linux machine with just the command line.

    h2 Visual Design
    .row
        div(class=blockstyle)
            .card
                .card-title Photoshop
                .card-content
                    p I used Photoshop for a lot of personal projects and have used it for visual design for creating designs and profile pictures.

        div(class=blockstyle)
            .card
                .card-title GIMP
                .card-content
                    p As a free alternative to Photoshop I used GIMP to help with my visual design

    h2 Development Tools
    .row
        div(class=blockstyle)
            .card
                .card-title JIRA
                .card-content
                    p I used JIRA during my internship at Wayne RESA, Jira is a ticketing system used for reporting issues in applications, updates to content, and for security reports.

        div(class=blockstyle)
            .card
                .card-title Confluence
                .card-content
                    p Confluence is made by Atlassian, the same people who made Jira and it is used for documentation, I used this during my internship at Wayne RESA. I used it mainly for creating documentation for the LAN/AV team.

        div(class=blockstyle)
            .card
                .card-title Heroku
                .card-content
                    p Heroku is a cloud platform for hosting applications on the cloud, and I have used it for development of applications and for hosting websites.

        div(class=blockstyle)
            .card
                .card-title Git
                .card-content
                    p I have used Git for all my personal projects and have used it for collaboration with friends and in classes where collaboration was required.

    h2 CAD Software
    .row
        div(class=blockstyle)
            .card
                .card-title Fusion 360
                .card-content
                    p Fusion 360 is my preferred CAD software and one of the best out. I use this for all my personal projects.

        div(class=blockstyle)
            .card
                .card-title TinkerCAD
                .card-content
                    p This is one of the first CAD modeling softwares that I have used for both 2D and 3D modeling. It is very basic but can also be advanced with advanced users.

        div(class=blockstyle)
            .card
                .card-title AutoCAD
                .card-content
                    p I learned AutoCAD as part of a "SAG 175" class at EMU. This class consisted of 2D modeling in AutoCAD.
   
        div(class=blockstyle)
            .card
                .card-title OnShape
                .card-content
                    p This is the first 3D CAD modeling software that I used and is one of my favorite web based ones.
 
    h2 3D Printing
    .row
        div(class=blockstyle)
            .card
                .card-title Flash Print
                .card-content
                    p This is the slicer used for Flash Forge 3D printers and I learned it at the William D. Ford Vocational Tech center, where I fixed and used it on a Flash Forge 3D printer.

        div(class=blockstyle)
            .card
                .card-title Simplify3D
                .card-content
                    p Simplify3D is one of my favorite slicers that I use for my 3D printer. It is one of the best and debated as being the best slicer.

        div(class=blockstyle)
            .card
                .card-title Cura
                .card-content
                    p Cute is a free 3D printer slicer that I enjoy using and is debated at being one of the best free slicers.

        div(class=blockstyle)
            .card
                .card-title XYZWare
                .card-content
                    p I used XYZWare with a XYZ Da Vinci Duo 3D printer that was broken at William D. Ford Vocational Tech center. This software is not very complex and was one of my first slicers.