extends __template

block css

block js

block body
    -var blockstyle = "s4 s-xs-12 s-sm-12 s-md-6 s-lg-4";
    h3 Operating Systems
    .row
        div(class=blockstyle)
            .card
                .card-title Windows 7 - 10
                .card-content
                    p
                        | I have used windows 7 - 10 for most of my development days, working with it as my daily driver on my desktop
                        | computer. I
                        | have pretty good knowledege of the operating system and where to find everything in it
        div(class=blockstyle)
            .card
                .card-title Linux - Ubuntu
                .card-content
                    p
                        | I used Ubutnu as the daily driver on my laptops and on my servers. I have gotten pretty good as using the command
                        | line I
                        | am not an expert but I know my way around the system.
        div(class=blockstyle)
            .card
                .card-title Mac OS
                .card-content
                    p
                        | I have used Mac OS on my laptop for a while but I switched over to ubuntu as it was just more convienient and
                        | works better
                        | for me. I used it for a little while and I worked my way around it and used XCode for a while for making some Mac
                        | OS
                        | Programs.
    h3 IDE's
    .row
        div(class=blockstyle)
            .card
                .card-title Visual Studio 2015-2017
                .card-content
                    p
                        | Visual studio is my main IDE when working in C++ or any other language that Visual Studio supports. I have tried
                        | other IDEs
                        | but Visual Studio has always had the best toolset and style for me. I have been working in visual studio for years
                        | and
                        | I have mostly gotten used to all of the program, and all of its features. There are a few exclusions to this such
                        | as
                        | I do not completly know the toolset for profiling and debugging programs but I know it enough to get what I need
                        | done.
        div(class=blockstyle)
            .card
                .card-title VSCode
                .card-content
                    p
                        | I use VSCode for most of my web development. I love this IDE for how lightweight and customizable it is. I have
                        | used a lot
                        | of IDE's and this is hand down my favorite for web development.
        div(class=blockstyle)
            .card
                .card-title VI/VIM
                .card-content
                    p
                        | I have recently started using vim as of June 2017, this is quickly becoming one of my new favorite text
                        | editors/IDEs. Learning
                        | the toolset is quite difficult but is very intuitive and I am learning tp use them to my advantage one step at a
                        | time.
                        | I would say I know enough about this editor to be proficient, But not enough to get as much work done as I could
                        | in
                        | something like atom or sublime. But I am learning more every time I use the program and slowly becoming better.
    h3 Visual Design
    .row
        div(class=blockstyle)
            .card
                .card-title Photoshop
                .card-content
                    p
                        | I have been working in photoshop for a few years on and off whenever I needed it. I took a visual design class
                        | focused around
                        | photoshop, but I knew everything in the class already. I can get done what I need, but not without the help of
                        | google
                        | and some time learning new tools now and then. But I am all around proficient in the program as a whole.
        div(class=blockstyle)
            .card
                .card-title GIMP
                .card-content
                    p
                        | I have used a gimp a bit as a free photoshop alternative. I prefer photoshop but I still know my way around GIMP
                        | and can
                        | use it pretty effectivly.
    h3 Development Tools
    .row
        div(class=blockstyle)
            .card
                .card-title Git
                .card-content
                    p
                        | I have used git to host all of my projects and I know my way around the problems that git can impose. I am no
                        | expert as I
                        | only use it to host my projects. I have used it on some occasion to collab with friends on their projects.
    h3 CAD Software
    .row
        div(class=blockstyle)
            .card
                .card-title Fusion 360
                .card-content
                    p
                        | Out of the CAD software I have used this is the most in-depth one I have used. I do not know it completely and I am by
                        | no means an expert. But if I need to get something made I can get it done in Fusion. In the end, it is a very very
                        | powerful and in-depth CAD software and I love it but it had some limitations that lead me to other ones.
        div(class=blockstyle)
            .card
                .card-title TinkerCAD
                .card-content
                    p
                        | This is a very basic web browser based CAD tool. I used this in the beginning for small projects like a case for a
                        | Raspberry Pi 3B+, I liked it for its easy to use tools and was pretty good when I was starting out. But lead to
                        | limitations that made me have to move on as it wouldn't allow me to do what I needed late on.
        div(class=blockstyle)
            .card
                .card-title OnShape
                .card-content
                    p
                        | In the beggining of 3D printing I needed something that could be portable and powerful so I used OnShape and it worked for everything I needed but in the end I moved to Fusion 360 as it seemed more powerful and was much easier to navigate and I could get work done much faster.
    h3 3D Printing
    .row
        div(class=blockstyle)
            .card
                .card-title Flashprint
                .card-content
                    p
                        | This is the first 3D printer slicer I used, it is pretty basic but I know my way around it and I have learned to
                        | customize it the way I need to get a pretty good 3d print to come out.
        div(class=blockstyle)
            .card
                .card-title Simplify3D
                .card-content
                    p
                        | Simplify3D is a very complex slicer and I have used it later into 3D printing for about a week and a half, I learned it
                        | pretty extensively and was a pretty good slicer. But in the end, it wasn't for me and I refunded it. But I learned how
                        | to use this slicer pretty well and I did a ton of prints with it testing it and I know how powerful it can be and how
                        | to use it.
        div(class=blockstyle)
            .card
                .card-title Cura
                .card-content
                    p
                        | Cura is the main software I use for my home 3d printer and the main software I like to use and I have a lot of experiance with this software.
        div(class=blockstyle)
            .card
                .card-title XYZWare
                .card-content
                    p
                        | This is the slicer that comes with XYZ printers. It is a pretty specific and basic slicer and I only used it for a few
                        | prints before I realized the printer doesn't go in depth enough for me and I moved onto the FlashForge printer.
